@import "./colors/colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-height: 0;
}

window#waybar {
    background: transparent;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: @on_background;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: white;
    opacity: 0.4;
    border-radius: 5px;
}

#workspaces button.focused {
    background: @primary;
    color: @on_primary;
    /* border-bottom: 3px solid white; */
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.6);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    padding: 0 18px;
    background-color: @secondary_container;
    opacity: 1;
    /* opacity: 0.9; */
}

#workspaces button.urgent {
    background-color: @error;
    opacity: 1;
}

#clock,
#pulseaudio.volume,
#pulseaudio.mic,
#network,
#bluetooth,
#tray,
#cpu,
#memory,
#systemd-failed-units,
#language {
    background-color: @primary;
    color: @on_primary;
    padding: 4px 12px;
    margin: 3px 5px 1px 5px;
    border-radius: 100px;
}

#language {
    min-width: 110px;
    margin: 0px 5px;
}

#custom-powermenu {
    margin: 2 14 0 8px;
    padding: 2px
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
